<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="eBay Web Automation Test Suite" parallel="classes" thread-count="2">
    <test name="TC_001_EbayTest">
        <classes>
            <class name="com.qa.eBayWebAutomation.testCases.TC_001_EbayTest" />
        </classes>
    </test>
</suite>
